/* Footer Styles */
footer {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  /* Section verte claire */
  .footer-top {
    background-color: #89b982;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footer-message {
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
  }
  
  .footer-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }
  
  .footer-logo h2 {
    color: white;
    font-size: 1.3rem;
    margin-top: 8px;
    font-family: "Raleway";
  }
  
  /* Conteneur des réseaux sociaux */
.footer-socials {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-top: 7px;
}

/* Chaque élément (logo + pseudo) */
.social-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 10px;
  border-radius: 8px;
  text-decoration: none;
  color: white;
  transition: transform 0.2s ease, border 0.2s ease;
}
.social-item-linktree {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 7px;
  border-radius: 8px;
  text-decoration: none;
  color: white;
  transition: transform 0.2s ease, border 0.2s ease;
}

/* Icônes */
.social-icon {
  font-size: 24px;
  color: white;
  transition: transform 0.2s ease;
}

/* Icônes */
.social-icon-linktree {
  color: white;
  transition: transform 0.2s ease;
  width: 28px;
}

/* Texte du pseudo */
.social-text {
  font-size: 1rem;
  font-weight: bold;
}

/* Effet au survol */
.social-item:hover, .social-item-linktree:hover {
  transform: scale(1.01);
  border: 1px solid #89b982;
}

  
  .social-icon:hover {
    transform: scale(1.01);
  }
  
  /* Section verte foncée */
  .footer-bottom {
    background-color: #103d2f;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 30px 20px;
  }
  
  .div-left {
    display: flex;
    flex-direction: column;

    justify-content: center;
  }

  .footer-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    margin: 10px;
  }
  
  .footer-column h3 {
    font-size: 1.3rem;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-column ul li {
    background-color: rgba(255, 255, 255, 0.15);
    padding: 8px 12px;
    margin-bottom: 5px;
    border-radius: 5px;
    transition: background-color 0.2s ease;
  }
  
  .footer-column ul li:hover {
    background-color: rgba(255, 255, 255, 0.25);
  }
  